body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-color: #7c707a;
  flex-wrap: wrap;
  gap: 50px;
}

.Profile {
  background-color: #ecd5eb;
  border-radius: 10%;
  box-shadow: 7px 10px 10px rgba(77, 50, 74, 0.897);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 250px;
  color: #3e4d83;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.Profile:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(247, 133, 241, 0.704);
  cursor: pointer;
}

.Profile img {
  border-radius: 50%;
  width: 70%;
  margin-bottom: 15px;
}